.header {
     height: 100px;
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
     }
     &-menu {
          display: flex;
          &-item {
               padding: 10px;
               margin-right: 15px;
               color: white;
               background-color: #4267b2;
          }
     }
     
}