* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.w100 {
  width: 100%;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  padding: 10px;
}

p {
  margin-bottom: 0 !important;
}

.btn-primary {
  background-color: #4267b2;
  border: 1px solid transparent;
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-primary:hover {
  border: 1px solid #4267b2;
  background-color: white;
  color: #4267b2;
}

a {
  text-decoration: none;
  color: unset;
}

#app {
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.btn-logout {
  outline: none;
  border: none;
  background-color: #DC3545;
  padding: 10px 15px;
  color: white;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

.d-grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.d-grid-col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 10px;
}

.d-grid-col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.z-index2 {
  z-index: 2;
}

.word-wrap {
  word-wrap: break-word;
}

.fw-600 {
  font-weight: 600;
}

.eth-logo {
  width: 20px;
  height: 20px;
}

.d-none {
  display: none;
}

.word-wrap {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 500px;
  text-align: center;
}

.border-blue {
  border: 5px solid blue;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.g-col-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid-gap-10 {
  grid-gap: 10px;
}

.bg-frag {
  position: absolute;
  opacity: 0.5;
}

.grid-col-0 {
  -ms-grid-columns: (1fr)[0];
      grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.header {
  height: 100px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-item {
  padding: 10px;
  margin-right: 15px;
  color: white;
  background-color: #4267b2;
}

.options {
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.option-item {
  text-align: center;
  padding: 10px 10px;
  border-radius: 42px;
  margin-bottom: 20px;
}

.option-item.active {
  background-color: #85c559;
  color: white;
}

.content-list {
  display: none;
}

.content-list .content-item {
  background-color: #f6fff0;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.content-list img {
  width: 178px;
  height: 178px;
}

.content-list .check-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #85c559;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-list .check-icon img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.eyes.active, .headdress.active, .phone.active, .mouth.active, .clothes.active, .accessories.active, .background.active, .video.active {
  display: -ms-grid;
  display: grid;
}

.wrap-video {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

.create-nft {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 30px;
}

.create-nft-button {
  margin-top: 30px;
  padding: 10px 20px;
}

.preview-avatar {
  text-align: center;
}

.preview-avatar .preview-main {
  border-radius: 20px;
  padding: 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  overflow: visible;
}

.preview-avatar .preview-content {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-color: #f6fff0;
  position: relative;
}

.preview-avatar .preview-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-avatar .preview-content img::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.preview-avatar .preview-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

.mouth-user {
  z-index: 5;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20.80979284369115% !important;
  height: 21.468926553672315% !important;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 180px !important;
  left: 180px !important;
}

.my-nft {
  padding-bottom: 50px;
}

.my-nft-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.my-nft-item {
  border: 1px solid #e5e8eb;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.my-nft-item .card-img-top {
  height: 283px;
}

.my-nft-action {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-nft-name {
  color: #707a83;
  font-weight: 500;
  font-size: 18px;
}

.my-nft-tokenId {
  color: #353840;
  font-weight: 600;
  font-size: 16px;
}

.my-nft .more-options {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 232, 235, 0.392)), color-stop(20%, white));
  background: linear-gradient(rgba(229, 232, 235, 0.392) 0%, white 20%);
  padding: 5px 1rem;
  cursor: pointer;
  position: relative;
}

.my-nft .more-options-list {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  color: #04111d;
  bottom: 50px;
  width: 80%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.my-nft .more-options-list.active {
  display: block;
}

.my-nft .more-options-item {
  border-bottom: 1px solid #e5e8eb;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.my-nft .more-options-item:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.my-nft .card-body {
  position: relative;
}

.my-nft .play-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e5e8eb;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nft-detail {
  padding-bottom: 70px;
  border-bottom: 1px solid #e5e8eb;
}

.nft-detail-image {
  width: 45%;
  padding-right: 10px;
}

.nft-detail-images {
  width: 65%;
  padding-left: 10px;
}

.nft-detail-parent {
  padding-top: 40px;
}

.opacity {
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */